:root {
  --color-primary-100: #{$c-primary-100};
  --color-primary-200: #{$c-primary-200};
  --color-primary-300: #{$c-primary-300};
  --color-primary-400: #{$c-primary-400};

  --color-secondary: #{$c-secondary};
}
