// colors
$c-txt:           #000;
$c-link:          #00F;
$c-link-hover:    #F00;
$c-blusher:       #eee8e8;

$c-primary-100:   #34505f;
$c-primary-200:   #638f97;
$c-primary-300:   #8fb8bf;
$c-primary-400:   #cde6ed;

$c-secondary:     #E92379;

// fonts
$f-line-height:   1.5;
$f-default:       Arial, sans-serif;

// transitions & animations
$t-s-curve:       cubic-bezier(0.770, 0.000, 0.175, 1.000);
$t-duration:      0.15s;
