// colors
$c-txt:           #000;
$c-link:          #00F;
$c-link-hover:    #F00;
$c-blusher:       #eee8e8;

$c-brand-1:       #34505f;
$c-brand-2:       #638f97;
$c-brand-3:       #8fb8bf;
$c-brand-4:       #cde6ed;

// fonts
$f-line-height:   1.5;
$f-default:       Arial, sans-serif;

// transitions & animations
$t-s-curve:       cubic-bezier(0.770, 0.000, 0.175, 1.000);
$t-duration:      0.15s;
